<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand inline" id="str">
        <p th:each="role : ${userInfo.roles}"
           th:text="${userInfo.email} + ' with roles: ' + ${#strings.replace((role.role), 'ROLE_', '')}"
           class="navbar-brand p-2"></p>
    </div>
    <div>
        <a href="/logout" class="text-muted">Logout</a>
    </div>
</nav>


<div class="row">v
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">User</a>
            </li>
        </ul>
    </div>

    <div class="col-md -10 bg-light">

        <div class="container">
            <div class="h1">Admin Panel</div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="start" href="#users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#new">New user</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <table class="table">
                        <tr>
                            <th>
                                <h5 class="container">All users</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table"></tbody>
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>

                <div class="tab-pane fade" id="new">
                    <table class="table bg-white table-striped">
                        <tr>
                            <th>
                                <h5 class="container">Add new user</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="bg-white text-center">
                                    <form class="offset-md-4 col-md-4" id="addUser">
                                        <div class="form-group">
                                            <label>First name </label>
                                            <input type="text" class="form-control" id="firstNameAdd"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input type="text" class="form-control" id="lastNameAdd"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control" id="usernameAdd"/>
                                        </div>
                                        <label>Age</label>
                                        <input type="number" class="form-control" id="ageAdd"/>
                                        <br>
                                        <label>Email </label>
                                        <input type="email" class="form-control" id="emailAdd"/>
                                        <br>
                                        <label>Password</label>
                                        <input type="password" class="form-control" id="passwordAdd"/>
                                        <br>
                                        <label>Roles </label>
                                        <br>
                                        <select class="custom-select" id="roleAdd" multiple size="2" required>
                                            <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                            <option value="ROLE_USER" userSelect>USER</option>
                                        </select>
                                        <br><br>
                                        <button type="submit" class="btn btn-success" value="Add">Add new User</button>
                                    </form>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade" id="delete"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel2">Delete user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <div class="form-row justify-content-center mx-auto col-6">
                    <form id="deleteModal">
                        <div class="form-group"><label>Id</label>
                            <div>
                                <input type="number" readonly class="form-control" id="delId">
                            </div>
                        </div>

                        <div class="form-group"><label>First name</label>
                            <div>
                                <input type="text" readonly class="form-control" id="delFirstName">
                            </div>
                        </div>

                        <div class="form-group"><label>Last name</label>
                            <div>
                                <input type="text" readonly class="form-control" id="delLastName">
                            </div>
                        </div>

                        <div class="form-group"><label>Username</label>
                            <div>
                                <input type="text" readonly class="form-control" id="delUsername">
                            </div>
                        </div>

                        <div class="form-group"><label>Age</label>
                            <div>
                                <input type="number" readonly class="form-control" id="delAge">
                            </div>
                        </div>

                        <div class="form-group"><label>Email</label>
                            <div>
                                <input type="email" readonly class="form-control" id="delEmail">
                            </div>
                        </div>

                        <div class="form-group"><label>Role</label>
                            <div>
                                <select class="form-control" multiple disabled id="delRole" size="2">
                                    <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                    <option value="ROLE_USER" userSelect>USER</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel1">Edit user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <div class="form-row justify-content-center mx-auto col-6">
                    <form id="editModal">
                        <div class="form-group"><label>Id</label>
                            <div>
                                <input type="number" readonly class="form-control" id="editId">
                            </div>
                        </div>

                        <div class="form-group"><label>First name</label>
                            <div>
                                <input type="text" class="form-control" id="editFirstName">
                            </div>
                        </div>

                        <div class="form-group"><label>Last name</label>
                            <div>
                                <input type="text" class="form-control" id="editLastName">
                            </div>
                        </div>

                        <div class="form-group"><label>Username</label>
                            <div>
                                <input type="text" class="form-control" id="editUsername">
                            </div>
                        </div>

                        <div class="form-group"><label>Age</label>
                            <div>
                                <input type="number" class="form-control" id="editAge">
                            </div>
                        </div>

                        <div class="form-group"><label>Email</label>
                            <div>
                                <input type="email" class="form-control" id="editEmail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <div>
                                <input type="password" class="form-control" id="editPassword">
                            </div>
                        </div>

                        <div class="form-group"><label>Role</label>
                            <div>
                                <select class="form-control" multiple id="editRole" size="2">
                                    <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                    <option value="ROLE_USER" userSelect>USER</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/js/create.js}"></script>
<script type="text/javascript" th:src="@{/js/delete.js}"></script>
<script type="text/javascript" th:src="@{/js/edit.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>