<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body style="overflow-x: hidden">
<!--NAVBAR-->
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-header">
        <p th:each="role : ${userDetails.getRoles()}"
           th:text="${userDetails.getUsername()} + ' with roles: ' + ${#strings.replace((role.role), 'ROLE_', '')}"
           class="navbar-brand p-2"></p>
    </div>
    <div class="navbar-footer">
        <a th:href="@{/logout}" class="text-white-50 text-decoration-none p-2">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">User</a>
            </li>
        </ul>
    </div>
    <div class="col-md -10 bg-light">
        <div class="container">
            <div class="h1">Admin Panel</div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="start" href="#users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#new" id="userTable">New user</a>
                </li>
            </ul>
            <!--            ALL USERS TABLE-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <table class="table">
                        <tr>
                            <th>
                                <h5 class="container">All users</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table"></tbody>
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>
                <!--                CREATE USER-->
                <div class="tab-pane fade" id="new">
                    <table class="table bg-white table-striped">
                        <tr>
                            <th>
                                <h5 class="container">Add new user</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="bg-white text-center">
                                    <form class="offset-md-4 col-md-4" id="addUser">
                                        <div class="form-group">
                                            <label for="addFirstName">First name </label>
                                            <input type="text" class="form-control" id="addFirstName"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="addLastName">Last name</label>
                                            <input type="text" class="form-control" id="addLastName"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="addAge">Age</label>
                                            <input type="number" class="form-control" id="addAge"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="addEmail">Email </label>
                                            <input type="email" class="form-control" id="addEmail"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="addPassword">Password</label>
                                            <input type="password" class="form-control" id="addPassword"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="addPassword">Roles</label><br/>
                                            <select class="custom-select" id="addRoles" multiple size="2" required>
                                                <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                                <option value="ROLE_USER" userSelect>USER</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success" value="Add">Add new User</button>
                                    </form>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DELETE USER-->
<div class="modal fade" id="delete"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel2">Delete user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-row justify-content-center mx-auto col-6">
                    <form id="deleteModal">
                        <div class="form-group">
                            <label for="deleteId">Id</label>
                            <input type="number" readonly class="form-control" id="deleteId">
                        </div>
                        <div class="form-group">
                            <label for="deleteFirstName">First name</label>
                            <input type="text" readonly class="form-control" id="deleteFirstName">
                        </div>
                        <div class="form-group">
                            <label for="deleteLastName">Last name</label>
                            <input type="text" readonly class="form-control" id="deleteLastName">
                        </div>
                        <div class="form-group">
                            <label for="deleteAge">Age</label>
                            <input type="number" readonly class="form-control" id="deleteAge">
                        </div>
                        <div class="form-group">
                            <label for="deleteEmail">Email</label>
                            <input type="email" readonly class="form-control" id="deleteEmail">
                        </div>
                        <div class="form-group">
                            <label for="deleteRole">Role</label>
                            <select class="form-control" multiple disabled id="deleteRole" size="2">
                                <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                <option value="ROLE_USER" userSelect>USER</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--EDIT USER-->
<div class="modal fade" id="edit"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel1">Edit user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-row justify-content-center mx-auto col-6">
                    <form id="editModal">
                        <div class="form-group">
                            <label for="editId">Id</label>
                            <input type="number" readonly class="form-control" id="editId">
                        </div>
                        <div class="form-group">
                            <label for="editFirstName">First name</label>
                            <input type="text" class="form-control" id="editFirstName">
                        </div>
                        <div class="form-group">
                            <label for="editLastName">Last name</label>
                            <input type="text" class="form-control" id="editLastName">
                        </div>
                        <div class="form-group">
                            <label for="editAge">Age</label>
                            <input type="number" class="form-control" id="editAge">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" class="form-control" id="editEmail">
                        </div>
                        <div class="form-group">
                            <label for="editPassword">Password</label>
                            <input type="password" class="form-control" id="editPassword">
                        </div>
                        <div class="form-group">
                            <label for="editRole">Role</label>
                            <select class="form-control" multiple id="editRole" size="2" required>
                                <option value="ROLE_ADMIN" adminSelect>ADMIN</option>
                                <option value="ROLE_USER" userSelect>USER</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/query.js}"></script>
</body>
</html>